<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286024928917-e3675ijkhut5dcnnvlpilkvjd7kndebc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286024928917-e3675ijkhut5dcnnvlpilkvjd7kndebc</string>
	<key>API_KEY</key>
	<string>AIzaSyBzzgXrY1bL9X_lw91G22Kedkf0orC34VA</string>
	<key>GCM_SENDER_ID</key>
	<string>286024928917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttershopapplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-storage-7c59c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-storage-7c59c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286024928917:ios:8ba939b4681ee8d2e2159c</string>
</dict>
</plist>